h1{
    color:#142A49;
}

h5{
    color:#142A49;
}

#btn-details{
    color: #fff;
    background-color: #142A49;
    border-color: #142A49;
    border-radius: 20px;
    width: 100%;
}

#border-color{
    border-color: #142A49;
}

#size-foto{
    height: 200px !important;
}

#icon-like{
    color: #142A49;
    /* #dc3545 */
}